body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  color: black;
  font-weight: 700;
  margin-left: 20px;
  float:left;
}

.main-content > h1 {
  float: none;
  padding-bottom: 20px;
  font-weight: 400;
}

.container-fluid {
  padding: 20px;
  background-color: gray;
}

#header-nav {
  background-color: gray;
}

#collapsable-nav {
  padding-bottom: 10px;
}

.navbar-default {
  font-size: 2em;
  color: black;
  border-color: black;
  font-weight: 700;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.heading {
  text-align:center;
  font-weight: 700;
}

.dishes {
  background-color: gray;
  padding: 10px 20px;
  margin-bottom: 25px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

section div.container 
{ width: 99%; } 

nav div.container 
{ width: 100%; }


@media (max-width: 767px) {
  .navbar-toggle {
    margin-top:20px;
    margin-bottom: 25px;
  }
}

